* {
    margin: 0;
    padding: 0;
}

.news {
    width: 500px;
    border: 1px solid #c52121;
    margin: 10px;
}

img {
    width: 100%;
}

h2,
p {
    padding: 10px;
}

.bg-color {
    background-color: #b82323;
}
